#root #basket #basket-icon {
  display: inline-block;
  float: right;
  height: 50px; }
  #root #basket #basket-icon img {
    cursor: pointer;
    max-height: 100%; }
#root #modal-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
#root #basket-modal {
  position: absolute;
  color: #fff;
  padding: 15px;
  min-width: 600px;
  min-height: 400px;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #55595c;
  z-index: 2;
  left: calc(50% - 300px); }
  #root #basket-modal .close {
    position: absolute;
    top: 15px;
    right: 15px; }
  #root #basket-modal li {
    list-style-type: none; }
  #root #basket-modal .summary {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    border-top: 1px solid red; }
    #root #basket-modal .summary .actions {
      align-items: center;
      justify-content: center;
      display: flex; }
      #root #basket-modal .summary .actions button {
        width: 100%;
        height: 100%; }

/*# sourceMappingURL=style.css.map */
